*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: rgb(15, 19, 40);
    color: rgb(17, 230, 230);
    font-family: Verdana, sans-serif;
}

#title h1 {
    text-align: center;
    padding: 20px;
    letter-spacing: 3px;
    font-size: 40px;
}

#title h1 span {
    font-size: 50px;
    font-family: 'Pokemon Solid', sans-serif;
}

#title:hover {
    animation: waviy 1s infinite;
    animation-delay: calc(.1s * var(--i));
}

@keyframes waviy {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
}

#form {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
}

#search {
    background-color: transparent;
    border: 2px solid aliceblue;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    font-size: 1.5rem;
    color: aqua;
}

#search:focus {
    outline: 0;
    background-color: rgb(11, 18, 54);
}

#search::placeholder {
    color: rgb(1, 179, 179);
}